@font-face {
  font-family: PantonMtav3;
  src: url(../fonts/Panton-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Helvetica_Neue_LT_GEO;
  src: url(../fonts/HelveticaNeueLTGEO-55Roman.ttf);
  font-weight: normal;
}

@font-face {
  font-family: Helvetica-Neue-LT-GEO-75-Bold;
  src: url(../fonts/Linotype-Helvetica-Neue-LT-GEO-75-Bold.svg);
  font-weight: normal;
}
@font-face {
  font-family: HelveticaNeueLTGEO-MT-55Roman;
  src: url(../fonts/HelveticaNeueLTGEO-MT-55Roman.ttf);
  font-weight: normal;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-gradient {
  background: transparent linear-gradient(180deg, #006A9F00 0%, #006A9F 100%) 0 0 no-repeat padding-box;
  position: absolute;
  height: 100%;
  width: 100%;
}

.blue-background {
  width: 100%;
  height: 129px;
  background-color: #006A9F;
}

.carousel-control-prev-icon {
  background-image: url("../assets/images/png/left2x.png");
}

.carousel-control-next-icon {
  background-image: url("../assets/images/png/right2x.png");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 46px;
  height: 46px;
}

.carousel-caption {
  p {
    margin-bottom: 4.375rem;
    font-size: 24px;
  }

  h3 {
    text-shadow: 0 3px 30px #006A9F;
    font-size: 48px;
    font-family: PantonMtav3;
  }
}

.carousel-indicators {
  margin-bottom: 3.125rem;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  border: 2px solid white;
  width: 5px;
  height: 5px;
  padding: 4px;
  background: none;
  opacity: 1;
}

.carousel-indicators .active {
  background: white;
}

.carousel-item {
  cursor: pointer;

  img {
    opacity: 1;
    background: transparent linear-gradient(180deg, #006A9F00 0%, #006A9F 100%) 180% 180% no-repeat padding-box;
  }

}

.red-line {
  height: 4px;
  background-color: #EE303C;
}

.insurance-box {
  @include flexCenter();
}

.insurance-cards-row {
  @include flexCenter();
  max-width: 1364px;
  min-height: 220px;
  width: 100%;
  justify-content: center;
  gap: 10px;
  position: relative;
  top: -52px;

}

.insurance-card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 10px 40px #006a9f1a;
  color: #707070;
  cursor: pointer;
  height: 180px;
  max-width: 260px;
  width: 100%;
  background-color: white;
  z-index: 2;
  transition: 300ms ease-in-out;


  svg {
    margin-top: 35px;
  }

  div {
    font-family: PantonMtav3;
    margin-top: 15px;
    text-align: center;
    font-size: 18px;
  }
}

//#Union_3, #Union_4, #Path_29, #Path_30, #Path_218, #Path_220 {
//  fill: ;
//}
.insurance-card-body:hover {
  background-color: #006a9f;
  color: #fff;
  transition: .2s ease-out;
  max-width: 268px;
  margin-left: -4px;
  margin-right: -4px;

  #Union_3, #Union_4, #Path_29, #Path_30, #Path_218, #Path_220 {
    fill: white;
  }

  height: 220px;
  width: 268px;

}

.insurance-card-hover-box {
  @include flexCenter();
  width: 130px;
  height: 35px;
  border-radius: 12px;
  background-color: #EE303C;
  margin-bottom: 10px;
  font-family: Helvetica_Neue_LT_GEO;
  transition: 0.3s ease-out;

}

.insurance-card-hover-box:hover {
  background-color: rgba(238, 48, 60, 0.87);
  padding: 4px 2px;
  margin-top: 11px;
  margin-bottom: 6px;
  transition: 0.3s ease-out;
}

#home-background-2 {
  background: url("../assets/images/png/Home_background_2.png");
  background-repeat: no-repeat;
  background-color: #F2F2F2;
  padding-bottom: 59px;
}

#advantages-text {
  @include flexCenter();
  color: #707070;
  font-family: PantonMtav3;
  font-size: 36px;
  margin-top: 74px;
  margin-bottom: 47px;

}


.advantages-box {
  @include flexCenter();
}

.advantages-row {
  @include flexCenter();
  max-width: 1300px;
  width: 100%;
  justify-content: space-between;
}

.advantages-column {
  @include flexCenter();
  max-width: 376px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}


.advantages-card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 250px;
  max-width: 200px;
  width: 100%;
  z-index: 2;

  img {
    margin-top: 36px;
  }

  div {
    margin-top: 24px;
    text-align: center;
    font-size: 17px;
    color: #707070;
  }
}

.advantages-card-body:hover {
  background: rgba(255, 255, 255, .5);
  border-radius: 12px;
}

#news-text {
  @include flexCenter();
  color: #707070;
  font-family: PantonMtav3;
  font-size: 36px;
  margin-top: 44px;
  margin-bottom: 36px;
}

.phone-box {
  @include flexCenter();
  margin-top: -22px;
}

.version-mobile-phone {
  @include flexCenter();
  cursor: pointer;
  width: 336px;
  height: 71px;
  background-color: #EE303C;
  border-radius: 12px;
  box-shadow: 0 5px 15px #EE303C4D;
  color: white;

  img {
    margin-right: 10px;
  }

  div {
    font-size: 14px;
    font-family: HelveticaNeueLTGEO-MT-55Roman;
  }
}

.news-box {
  @include flexCenter;
}

.news-row {
  @include flexCenter();
  max-width: 1364px;
  width: 100%;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.news-card-body:hover {
  border-color: #006A9F;

}


.news-card-body {
  max-width: 444px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 13px 13px 12px 12px;


  img {
    width: 100%;
  }

  .box {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 0 0 12px 12px;
    height: 159px;
    max-width: 444px;
    align-items: center;


    div {
      max-width: 393px;
      width: 100%;
      color: #707070;
      font-family: Helvetica_Neue_LT_GEO;
    }

    .text {
      font-size: 20px;
      margin-top: 32px;
    }

    .date {
      font-size: 13px;
      margin-top: 21px;
      align-content: start;
      color: #D0D0D0;
    }
  }
}


.all-news-box {
  @include flexCenter();

}

.arrow-right {
  border: solid #707070;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.all-news:hover {
  color: #006A9F;

  .arrow-right {
    border-color: #006A9F;
  }

}

.all-news {
  @include flexCenter();
  color: #707070;
  font-family: PantonMtav3;
  font-size: 36px;
  margin-top: 36px;
  cursor: pointer;

  div {
    font-size: 18px;
    margin-right: 3.32px;
  }


}


@media only screen and (max-width: 1400px) {
  .news-card-body {
    max-width: 400px;

    .box {
      height: 150px;

      div {
        max-width: 318px;
        width: 100%;
      }

      .text {
        font-size: 17px;
      }

      .date {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 1350px) {
  .insurance-cards-row {
    padding-left: 15px;
    padding-right: 15px;
  }
  .carousel-caption {
    p {
      font-size: 16px;
    }

    h3 {
      font-size: 32px;
    }
  }

  .insurance-card-body {
    max-width: 220px;
    height: 160px;
    width: 100%;

    div {
      font-size: 18px;
    }
  }
  .insurance-card-body:hover {
    max-width: 228px;
    height: 200px;
  }
}

@media only screen and (max-width: 1250px) {
  .news-card-body {
    max-width: 360px;
  }
}

@media only screen and (max-width: 1150px) {
  .insurance-card-body {
    max-width: 190px;
    height: 150px;
    width: 100%;

    img {
      margin-top: 25px;
    }

    div {
      font-size: 14px;
    }

  }
  .insurance-card-body:hover {
    max-width: 198px;
    height: 190px;
  }
  .news-card-body .box div {
    max-width: 290px;
  }

}


@media only screen and (max-width: 1000px) {

  .insurance-cards-row {
    max-width: 346px;
    flex-wrap: wrap;
    top: -32px;
    gap: 0;
  }
  .news-card-body .box div {
    max-width: 250px;
  }
  .insurance-card-body {
    height: 113px;
    max-width: 163px;
    margin: 5px;

    div {
      font-family: Helvetica-Neue-LT-GEO-75-Bold;
      font-size: 12px;
      font-weight: bold;
      margin-top: 7px;
    }

    svg {
      margin-top: 22px;
      width: 30px;
      height: 30px;
    }
  }
  #advantages-text {
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 47px;

  }
  .advantages-column {
    padding: 0 28px 0 28px;
  }
  .advantages-card-body {
    height: 150px;
    max-width: 153px;
    margin-bottom: 23px;

    img {
      margin-top: 0;
    }

    .number {
      font-family: Helvetica-Neue-LT-GEO-75-Bold;
      font-size: 26px;
      color: #006A9F;
      margin-bottom: 10px;
    }

    div {
      margin-top: 0;
      text-align: center;
      font-size: 13px;
    }
  }
  .advantages-card-body:hover {
    background: transparent;
    border-radius: 12px;
  }

  #news-text {
    margin: 0 0 17px 0;

  }
  .news-row {
    overflow: auto;
    gap: 10px;
  }
  .news-row {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .news-row::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
  .all-news:hover {
    color: #707070;
  }
  .all-news:hover .arrow-right {
    border-color: #707070;
  }
  .news-card-body img {
    height: 166px;
  }
  .news-card-body:hover {
    border-color: transparent;
  }
  .news-card-body {
    width: 277px;

    .box {
      height: 94px;

      div {
        width: 277px;
        padding: 0 17px;
      }

      .text {
        margin-top: 14px;
        font-size: 13px;
        font-family: Helvetica-Neue-LT-GEO-75-Bold;
      }

      .date {
        margin-top: 15px;
        font-size: 11px;
      }
    }
  }
  .carousel-control-next-icon, .carousel-control-prev-icon {
    display: none;
  }
  .carousel-indicators [data-bs-target] {
    width: 2px;
    height: 2px;
  }
  .carousel-indicators {
    margin-bottom: 2.1rem;
    margin-top: 120px;
  }
  .carousel.slide {
    height: 266px;
  }
  .carousel-item img {
    height: 266px;
    object-fit: cover;
  }
  .carousel-caption h3 {
    font-size: 27px;
  }
  .carousel-caption p {
    margin-bottom: 110px;
    font-size: 15px;
    visibility: collapse;
  }
  .insurance-card-body {
    pointer-events: none;
  }
  .blue-background {
    display: none;
  }
  .separator {
    border: 1px solid #707070;
    width: 109px;
    margin: 35px auto;
  }
}

