@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

*, ::after, ::before {
  box-sizing: initial;
}

.footer {
  @include flexCenter();
}

#unison-2021 {
  font: normal normal normal 14px/17px Helvetica Neue LT GEO;
  margin-bottom: 0;
  margin-top: 56.5px;
  cursor: initial;
}

#unison-2021:hover {
  text-decoration: none;
  color: #707070;
}

.badges {
  margin-top: 40px;
  margin-bottom: 0;
}

.fb-icon {
  margin-bottom: 10px;
}

.ig-icon {
  margin-bottom: 13px;
}

.linkedin-icon {
  margin-bottom: 18px;
}

.footer-box {
  display: flex;
  flex-direction: row;
  margin: auto;
  max-width: 1364px;
  width: 100%;
  padding: 45px 20px 55px 20px;
  color: #707070;

  ul {
    list-style: none;
    width: 25%;
    padding: 0;

    p {
      margin-bottom: 20px;
      font: normal normal bold 16px/20px Helvetica Neue LT GEO;
    }

    .nav-link:hover {
      text-decoration: underline;
      color: #006A9F;
    }

    li {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      font: normal normal normal 16px/20px Helvetica Neue LT GEO;

      .nav-link {
        cursor: pointer;
        color: #707070;

        img {
          margin-right: 12px;
        }
      }
      img{
        cursor: pointer;
      }
    }
  }

}

@media only screen and (max-width: 1000px) {

  .footer-box {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: none;
    width: 100%;
    padding: 37px 0 30px 0;
    color: #707070;

    .li-full-line {
      width: 100%;
    }

    .badges {
      width: 100%;
      margin-top: -2px;
    }

    .fb-icon {
      margin-bottom: 19px;
    }

    .ig-icon {
      margin-bottom: 18px;
    }

    .youtube-icon {
      margin-bottom: 22px;
    }

    .linkedin-icon {
      margin-bottom: 20px;
    }

    #unison-2021 {
      margin: 0;
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      width: auto;
      padding-left: 36px;
      margin-bottom: 10px;

      p {
        width: 100%;
        margin-bottom: 20px;
        font: normal normal bold 16px Helvetica Neue LT GEO;
      }

      .nav-link:hover {
        text-decoration: underline;
        color: #006A9F;
      }

      li {
        display: flex;
        align-items: center;
        width: 50%;
        margin-bottom: 10px;
        font: normal normal normal 16px Helvetica Neue LT GEO;

        .nav-link {
          cursor: pointer;
          color: #707070;
        }

        img {
          margin-right: 12px;
        }
      }
    }
  }

}

