@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev-icon {
  background-image: url("images/left2x.png");
}

.carousel-control-next-icon {
  background-image: url("images/right2x.png");
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 46px;
  height: 46px;
}

.carousel-caption {
  p {
    margin-bottom: 4.375rem;
    font-size: 24px;
  }

  h3 {
    text-shadow: 0 3px 30px #006A9F;
    font-size: 48px;
    font-family: PantonMtav3;

  }
}

.carousel-indicators {
  margin-bottom: 3.125rem;
}

.carousel-indicators [data-bs-target] {
  border-radius: 50%;
  border: 2px solid white;
  width: 10px;
  height: 10px;
  padding: 4px;
  background: none;
  opacity: 1;
}

.carousel-indicators .active {
  background: white;
}

.carousel-item {

  img {
    opacity: 1;
    background: transparent linear-gradient(180deg, #006A9F00 0%, #006A9F 100%) 180% 180% no-repeat padding-box;

  }

}

.red-line {
  height: 4px;
  background-color: #EE303C;
}

.insurance-box {
  @include flexCenter();
}

.insurance-cards-row {
  @include flexCenter();
  max-width: 1364px;
  width: 100%;
  justify-content: space-between;
  position: relative;
  top: -32px;

}

.insurance-card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  box-shadow: 0 10px 40px #006a9f1a;
  color: #707070;
  cursor: pointer;
  height: 180px;
  max-width: 260px;
  width: 100%;
  background-color: white;
  z-index: 2;

  img {
    margin-top: 35px;
  }

  div {
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
  }
}

#home-background-2 {
  background: url("images/Home_background_2.png");
  background-repeat: no-repeat;
  background-color: #F2F2F2;
  padding-bottom: 59px;
}

#advantages-text {
  @include flexCenter();
  color: #707070;
  font-family: PantonMtav3;
  font-size: 36px;
  margin-top: 74px;
  margin-bottom: 47px;

}


.advantages-box {
  @include flexCenter();
}

.advantages-row {
  @include flexCenter();
  max-width: 1300px;
  width: 100%;
  justify-content: space-between;
}

.advantages-column {
  @include flexCenter();
  max-width: 376px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}


.advantages-card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  height: 250px;
  max-width: 200px;
  width: 100%;
  z-index: 2;

  img {
    margin-top: 36px;
  }

  div {
    margin-top: 24px;
    text-align: center;
    font-size: 16px;
  }
}

.advantages-card-body:hover {
  background: rgba(255, 255, 255, .5);
  border-radius: 12px;
}

#news-text {
  @include flexCenter();
  color: #707070;
  font-family: PantonMtav3;
  font-size: 36px;
  margin-top: 44px;
  margin-bottom: 36px;
}

.phone-box {
  @include flexCenter();
  margin-top: -22px;
}

.version-mobile-phone {
  @include flexCenter();
  cursor: pointer;
  width: 336px;
  height: 71px;
  background-color: #EE303C;
  border-radius: 12px;
  box-shadow: 0 5px 15px #EE303C4D;
  color: white;

  img {
    margin-right: 10px;
  }

  div {
    font-size: 14px;
    font-family: Helvetica Neue LT GEO MT, SS Roman;
  }
}

.news-box {
  @include flexCenter;
}

.news-row {
  @include flexCenter();
  max-width: 1364px;
  width: 100%;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}

.news-card-body:hover {
  border-color: #006A9F;

}

.insurance-card-body:hover {
  background-color: #006a9f;
  color: #fff;
  transition: .2s ease-out;
}

.news-card-body {
  max-width: 444px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 13px 13px 12px 12px;

  img {
    width: 100%;
  }

  .box {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    border-radius: 0 0 12px 12px;
    height: 159px;
    max-width: 444px;
    align-items: center;


    div {
      max-width: 393px;
      width: 100%;
      color: #707070;
      font-family: PantonMtav3;
    }

    .text {
      font-size: 20px;
      margin-top: 32px;
    }

    .date {
      font-size: 13px;
      margin-top: 21px;
      align-content: start;
      color: #D0D0D0;
    }
  }
}

.all-news:hover {
  color: mediumblue;

  img {
    filter: invert(1);
  }
}

.all-news-box {
  @include flexCenter();

}

.all-news {
  @include flexCenter();
  color: #707070;
  font-family: PantonMtav3;
  font-size: 36px;
  margin-top: 36px;
  cursor: pointer;

  div {
    font-size: 18px;
    margin-right: 3.32px;
  }


}


@media only screen and (max-width: 1400px) {
  .news-card-body {
    max-width: 400px;

    .box {
      height: 150px;

      div {
        max-width: 318px;
        width: 100%;
      }

      .text {
        font-size: 17px;
      }

      .date {
        font-size: 12px;
      }
    }
  }
}

@media only screen and (max-width: 1350px) {
  .insurance-cards-row {
    padding-left: 15px;
    padding-right: 15px;
  }
  .carousel-caption {
    p {
      font-size: 16px;
    }

    h3 {
      font-size: 32px;
    }
  }

  .insurance-card-body {
    max-width: 220px;
    height: 160px;
    width: 100%;

    div {
      font-size: 16px;
    }
  }

}

@media only screen and (max-width: 1250px) {
  .news-card-body {
    max-width: 360px;
  }
}

@media only screen and (max-width: 1150px) {
  .insurance-card-body {
    max-width: 190px;
    height: 150px;
    width: 100%;

    img {
      margin-top: 25px;
    }

    div {
      font-size: 14px;
    }

  }
  .news-card-body .box div {
    max-width: 290px;
  }

}


@media only screen and (max-width: 1000px) {
  .insurance-cards-row {
    max-width: 346px;
    flex-wrap: wrap;
  }

  .insurance-card-body {
    height: 113px;
    max-width: 163px;
    margin: 5px;

    div {
      font-size: 12px;
      font-weight: bold;
      margin-top: 7px;
    }

    img {
      margin-top: 22px;
      width: 30px;
      height: 30px;
    }
  }
  #advantages-text {
    font-size: 36px;
    margin-top: 70px;
    margin-bottom: 47px;

  }
.advantages-column{
  padding: 0 28px 0 28px;
}
  .advantages-card-body {
    height: 150px;
    max-width: 153px;
    margin-bottom: 23px;

    img {
      margin-top: 0;
    }

    .number {
      font-size: 26px;
      font-weight: bold;
      color: #006A9F;
      margin-bottom: 10px;
    }

    div {
      margin-top: 0;
      text-align: center;
      font-size: 13px;
    }
  }

  #news-text {
    margin: 50px 0 17px 0;

  }


  .news-card-body {
    max-width: none;
    width: 277px;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 13px 13px 12px 12px;

    img {
      width: 100%;
    }

    .box {
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      border-radius: 0 0 12px 12px;
      height: 159px;
      max-width: 444px;
      align-items: center;


      div {
        max-width: 393px;
        width: 100%;
        color: #707070;
        font-family: PantonMtav3;
      }

      .text {
        font-size: 20px;
        margin-top: 32px;
      }

      .date {
        font-size: 13px;
        margin-top: 21px;
        align-content: start;
        color: #D0D0D0;
      }
    }
  }
  .carousel-control-next-icon, .carousel-control-prev-icon{
    display: none;
  }
}
