.nav {
    align-items: center;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: mediumblue;
}

.navbar {
    background-image: url("images/upper-nav.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    color: #d0d0d0;
    display: flex;
    flex-direction: row;
    height: 49px;
    justify-content: space-between;
    max-width: 1424px;
    width: 100%;
    padding: 0;
}

.upper-left-nav {
    align-items: center;
    display: flex;
    padding-left: 30px;
}

.navbar-nav {
    justify-content: space-between;
    height: 20px;
    text-align: center;
    display: flex;
}

.navbar-dark .navbar-nav .nav-link {
    color: #D0D0D0;
    font-size: 16px;
    font-weight: 65;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-left: 0;

}

.upper-right-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
}

.dropdown {
    margin-right: 58px;
}

.dropdown-toggle {
    color: #D0D0D0;
}

.dropdown-item {
    width: auto;
}

/*.nav-link{
    padding: 0;
}*/
.navbar-dark .navbar-text {
    color: #D0D0D0;
    height: 20px;
    padding: 0;
}

.hot-number {
    cursor: pointer;
}

#hot {
    width: 94px;
    padding-right: 11px;
}

#number {
    width: 71px;
}

.nav-link:focus, .nav-link:hover {
    color: #D0D0D0;
}

* {
    font-family: "Helvetica Neue LT GEO";
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    scroll-behavior: smooth;
}

.lower-nav {
    max-width: 1424px;
    padding-top: 33px;
    position: absolute;
    top: 49px;
    width: 100%;
    z-index: 2;
}

.lower-nav-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.lower-nav-nav > .left {
    padding-left: 30px;
}

.lower-nav-nav > .right {
    padding-right: 30px;
}

.nav-link {
    padding: 0;
}

.lower-nav-nav > div {
    display: flex;
}

.lower-nav-nav > div .nav-link {
    display: flex;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
}

.lower-nav-nav > .left > .nav-link {
    margin-right: 48px;
}

.background-gradient {
    /*
    background: transparent linear-gradient(180deg, #006A9F00 0%, #006A9F 100%) 0 0 no-repeat padding-box;
    */
}

.buy-online-box {
    display: flex;
    justify-content: center;
    width: 230px;
    height: 48px;
    background: #EE303C 0 0 no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    margin-right: 48px;

}

.buy-online-box:hover {
    padding: 5px;
    margin: -5px;
    margin-right: 43px;
}

.lower-nav-nav .right {
    align-items: center;
}

.phone:hover {
    transition: .3s ease-out;
    width: 138px;
}

.phone {
    box-sizing: border-box;
    background-color: red;
    border-radius: 12px 0 0 12px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 121px;
    justify-content: space-between;
    padding: 26px;
    position: fixed;
    right: 0;
    top: 193px;
    transition: .3s ease-out;
    width: 128px;
    z-index: 3;
}

.my-office > div {
    font-size: 20px;
}

.my-office > img {
    margin-right: 13px;
}

.my-office > img:hover {
    margin: -4px;
    margin-right: 9px;
}

.phone > div {
    font: normal normal 700 11px/17px Helvetica Neue LT GEO;
}


@media only screen and (max-width: 1350px) {
    #unison-logo {
        width: 182px;
        height: 39px;
    }

    .lower-nav-nav > div .nav-link {
        font-size: 16px;
    }

    .lower-nav-nav > .left > .nav-link {
        margin-right: 30px;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
        padding-right: 20px;
    }

    .hot-number, .dropdown {
        font-size: 14px;
    }

    .my-office > div {
        font-size: 18px;
    }

}

@media only screen and (max-width: 1150px) {

    .lower-nav-nav > div .nav-link {
        font-size: 15px;
    }

    .lower-nav-nav > .left > .nav-link {
        margin-right: 18px;
    }

    .buy-online-box {
        width: 190px;
        margin-right: 18px;

    }

    .buy-online-box:hover {
        margin-right: 13px;
    }

    .my-office > div {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    .nav {
        display: none
    }
}

