.nav {
    align-items: center;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: mediumblue;
}

.navbar {
    background-image: url("images/upper-nav.svg");
    background-position: 50%;
    background-repeat: no-repeat;
    color: #d0d0d0;
    display: flex;
    flex-direction: row;
    height: 49px;
    justify-content: space-between;
    max-width: 1424px;
    width: 100%;
    padding: 0;
}

.upper-left-nav {
    align-items: center;
    display: flex;
    padding-left: 30px;
}

.navbar-nav {
    justify-content: space-between;
    height: 20px;
    text-align: center;
    display: flex;
}

.navbar-dark .navbar-nav .nav-link {
    color: #D0D0D0;
    font-size: 16px;
    font-weight: 65;
    display: flex;
    flex-direction: row;
    padding-right: 30px;
    padding-left: 0;

}

.upper-right-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 30px;
}

.dropdown {
    margin-right: 58px;
}

.dropdown-toggle {
    color: #D0D0D0;
}

.dropdown-item {
    width: auto;
}

/*.nav-link{
    padding: 0;
}*/
.navbar-dark .navbar-text {
    color: #D0D0D0;
    height: 20px;
    padding: 0;
}

.hot-number {
    cursor: pointer;
}

#hot {
    width: 94px;
    padding-right: 11px;
}

#number {
    width: 71px;
}

.nav-link:focus, .nav-link:hover {
    color: #D0D0D0;
}

* {
    font-family: "Helvetica Neue LT GEO";
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    scroll-behavior: smooth;
}

.lower-nav {
    max-width: 1424px;
    padding-top: 33px;
    position: absolute;
    top: 49px;
    width: 100%;
    z-index: 2;
}

.lower-nav-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: transparent;
}

.lower-nav-nav > .left {
    padding-left: 30px;
}

.lower-nav-nav > .right {
    padding-right: 30px;
}

.nav-link {
    padding: 0;
}

.lower-nav-nav > div {
    display: flex;
}

.lower-nav-nav > div .nav-link {
    display: flex;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
}

.lower-nav-nav > .left > .nav-link {
    margin-right: 48px;
}

.background-gradient {
    /*
    background: transparent linear-gradient(180deg, #006A9F00 0%, #006A9F 100%) 0 0 no-repeat padding-box;
    */
}

.buy-online-box {
    display: flex;
    justify-content: center;
    width: 230px;
    height: 48px;
    background: #EE303C 0 0 no-repeat padding-box;
    border-radius: 12px;
    opacity: 1;
    margin-right: 48px;
    transition: 300ms ease-in-out;
}

.buy-online-box:hover {
    padding: 5px;
    margin: -5px 43px -5px -5px;
    transition: 300ms ease-out;

}

.lower-nav-nav .right {
    align-items: center;
}

.phone:hover {
    transition: .3s ease-out;
    width: 138px;
}

.phone {
    box-sizing: border-box;
    background-color: red;
    border-radius: 12px 0 0 12px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: 121px;
    justify-content: space-between;
    padding: 26px;
    position: fixed;
    right: 0;
    top: 193px;
    transition: .3s ease-out;
    width: 128px;
    z-index: 3;
}

.my-office > div {
    font-size: 20px;
}

.phone > div {
    font: normal normal 700 11px/17px Helvetica Neue LT GEO;
}


#Component_8_11 {
    margin-right: 13px;
    transition: .3s ease-out;
}

#Component_8_11:hover {
    width: 70px;
    height: 70px;
    transition: 300ms ease-out;
    margin: -4px 9px -4px -4px;
}

#Component_8_11:hover > #Ellipse_1 {

    fill: red;
    transition: 300ms ease-out;
}

#Component_8_11:hover > #_24px-2 > #Path_36 {
    fill: white;

}

#_24px-2 {
    width: 28px;
    height: 28px;
}

@media only screen and (max-width: 1350px) {
    #unison-logo {
        width: 182px;
        height: 39px;
    }

    .lower-nav-nav > div .nav-link {
        font-size: 16px;
    }

    .lower-nav-nav > .left > .nav-link {
        margin-right: 30px;
    }

    .navbar-dark .navbar-nav .nav-link {
        font-size: 14px;
        padding-right: 20px;
    }

    .hot-number, .dropdown {
        font-size: 14px;
    }

    .my-office > div {
        font-size: 18px;
    }

}

@media only screen and (max-width: 1150px) {

    .lower-nav-nav > div .nav-link {
        font-size: 15px;
    }

    .lower-nav-nav > .left > .nav-link {
        margin-right: 18px;
    }

    .buy-online-box {
        width: 190px;
        margin-right: 18px;

    }

    .buy-online-box:hover {
        margin-right: 13px;
    }

    .my-office > div {
        font-size: 16px;
    }
}

@media only screen and (max-width: 1000px) {
    .nav {
        display: none
    }

    .mobile-nav {
        display: flex;
    }

    .mobile-nav .head {
        width: 100%;

    }

    .mobile-nav .head .logo-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 27px;
        margin-bottom: 18px;
    }

    .mobile-nav .head .gradient {
        background: linear-gradient(#006A9F4D, #006A9F00);
        height: 20px;
        width: 100%;
    }

    #footer-unisonLogo {
        width: 180px;
        height: 38px;
    }

    #mobile-menu {
        width: 25px;
        height: 25px;
        margin-left: 44px;
    }

    .logo-exit {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 43px;
    }

    #mobile-logo {
        width: 39px;
        height: 38px;
    }

    #mobile-exit {
        width: 21px;
        height: 21px;
    }


    .offcanvas.offcanvas-start {
        width: 100%;
    }

    .offcanvas-header {
        display: flex;
        padding: 43px 38px 0 36px;
    }

    .logo-exit {
        padding: 0;
    }

    .offcanvas-body {
        padding: 51px 38px 61px 36px;
    }

    .my-office {
        display: flex;
        align-items: center;
    }

    .my-office > img {
        margin-right: 20px;
    }

    .my-office > img:hover {
        margin: 0 20px 0 0;
    }

    .my-office > svg > #Ellipse_1 {
        fill: #006A9F;
    }

    .my-office > svg > g > #Path_36 {
        fill: white;
    }
    #Component_8_12{
        margin-right: 20px;
    }

    .nav-link:focus, .nav-link:hover{
        color: #707070;
    }
    .my-office > div {
        color: #707070;
    }

    .mobile-menu-insurance{
        margin-top: 56px;
    }
    .mobile-menu-insurance-card-columns{
        display: flex;
        flex-direction: column;
    }
    .mobile-card-body{
        display: flex;
        align-items: center;
        margin-bottom: 35px;
        color: #707070;

    }
    .mobile-card-body > img {
        margin-right: 18px;
    }

    #_24px{
        width: 24px;
        height: 24px;
    }
    #_24px > #Path_42{
        fill: #EE303C;

    }
    .mobile-arrow-right{
        border: solid red;
        border-width: 0 1px 1px 0;
        display: inline-block;
        padding: 1px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        width: 5px;
        height: 5px;
        margin-left: auto;
    }

}


